
h1{
    background-color:rgb(180, 238, 219); color:black;
    text-align: center;
    width: 50%;
    border-bottom: 2px solid gray;
    margin:0px auto 15px auto;
}
.totalsum{
    border-radius:20px; 
    border: 5px solid black;  
    background-color: rgb(180, 238, 219); color:black;
    text-align: center;
    width:50%; height:100%;
    margin:0 auto 0 auto; 
}
.totalsum p{
    font-size:40px;  
    margin:0px 0 15px 0;  
}
h3{
    margin:5px 0 5px 0;
}
div.total 
{
    display: flex;  
    justify-content: space-evenly; 
    margin-bottom: 10px;
    }
div.allincome{
    color:blue;
}
span.plus-button { 
    display:inline-block;  
    width:20px; 
    height:20px; 
    border-radius: 100%; 
    border-color: black; 
    border: 1px solid; 
    font-size: 14px; 
    background-color: aliceblue;
}
div.alloutcome{
    color:red;
}
span.minus-button {
    display:inline-block; 
    width: 20px; 
    height: 20px;
    border-radius: 100%; 
    border-color: black; 
    border: 1px solid; 
    font-size: 14px; 
    background-color: aliceblue;
}
div.date {
    box-sizing: border-box; 
    width:50%; margin:30px auto 0 auto; 
    display:flex; 
    justify-content: center; 
    border-top: solid 2px; 
    border-color: gray; 
    padding:10px 0 20px 0;
}
button.left, .right{
    border:none; 
    background-color: white;
}
section.main {
    box-sizing: border-box;  
    width:50%; 
    margin:0 auto 0 auto;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    border-bottom: solid 1px; 
    padding-bottom: 20px; 
    border-color: rgb(190, 188, 188);
}
button.income, button.spend {
    border: none;
    background-color: white;
}
div.item{
    box-sizing: border-box;  
    width:50%;
    margin:15px auto 10px auto;
    display: flex; 
    justify-content: space-between; 
    border-radius: 30px; 
    background-color: rgb(180, 238, 219);
    color:black; padding:15px;
}
.category{
    font-size: 14px;
}
section.details{
    height: 400px; 
    overflow-y: scroll; 
    width:50%; 
    margin:0 auto 0 auto;
}
.money_minus{
    color:red;
}
.money_plus{
    color:blue;
}
button.x{
    border:none; 
    background-color: rgb(180, 238, 219);
}
footer{
    width:50%;
    margin:0 auto 0 auto;
    background-color:  rgb(180, 238, 219);
    border-radius: 5rem;
    height: 2rem;
}
div.plus_button{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 2rem;
    
}
.last{
    display:inline-block; 
    width:10%; 
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 5rem;
    background-color: rgb(112, 179, 112);
}